div{
  font-size: 18px;
  padding: 1em;
  font-family: Verdana;
}

.box{
  padding: 1em;
  border-radius: 1em;
  background: rgb(20, 77, 79);
}

.boxlarge{
  font-size: 24px;
}

.boxsmall{
  font-size: 1.5em;
}

body{
  font-size: 16px;
}
