

.main div, .main2 div{
  border: 1px solid black;
  padding: 10px;
}

.box1{
  flex: 2;
  order: 2;
}

.box2{
  flex: 1;
  order: 1
}

.box3{
  flex: 1;
  order: 3;
}



@media(min-width: 760px){
  .main{
      display: flex;
  }

  .main2{
    display: flex;
    justify-content: space-between;
  }

  .box{
    width: 25%;
  }
}
