:root{
  font-size: calc(0.5em + 5vw);
}

body{
  font-family: Arial;
  font-weight: 300;
  line-height: 1.8;
}

.em ul{
  font-size: 0.8em;
}

.rem ul{
  font-size: 0.8rem;
}

p{
  font-size: 2vmax;
}
