:root{
  --base-font: Helvetica, Arial, sans-serif;
  --base-color: rgb(255, 233, 219);
}

.main{
  font-family: var(--base-font);
  background: var(--base-color);
}

aside{
  --base-color: rgb(255, 201, 213);
}
