.gridheader{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: black;
  margin: 0 1em;
}
.gridheader > *{
  background: black;
  color: white;
  padding: 1em;
  margin: 0 auto;
}
.gridcontent{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
  padding: 2em;
}
.gridcontent > div > img{
  width: 80%;
  display: block;
  padding: 2em;
}
.photoandtext{
  background-color: black;
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5em;
}
.gridcontent > div > p{
  padding: .5em;
}
.gridsubcontent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 2em;
  background: rgb(221, 221, 221);
  margin: 0 1em;
}
.gridsubcontent > div{
  margin: 0 auto;
  padding: 1em;
}
.gridbuylist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2em;
  grid-gap: 1em;
}
.gridbuylist > div > p{
  padding: 1em;
  font-size: 1.2em;
  color: white;
  background: black;
  border-radius: 3px;
}
footer{
  display: flex;
  justify-content: center;
  background: grey;
}
