:root{
  font-family: 'Cairo', sans-serif;
}

body{
  background: rgb(245, 240, 251);
}

.Container{
  max-width: 1080px;
  margin: 0 auto;
}

.NavBar{
  display: flex;
  background: black;
  list-style-type: none;
  justify-content: center;
}

.NavBar > li > a{
  background: black;
  color: rgb(255, 245, 255);
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 1em 1.7em;
  margin: 0 3em;
}

.Tile{
  padding: 1.5em;
}

.Flex{
  display: flex;
  flex-direction: row-reverse;
}

.ColumnMain{
  flex: 3;
}

.ColumnSideBar{
  flex: 1;
}

.Submit{
  font-size: 1.1em;
  color: rgb(240, 231, 255);
  background: black;
  border: none;
  border-radius: 3px;
  padding: .4em 1em;
}
