p{
  background: pink;
  border-radius: 20px 0 20px 0;
  padding: 30px;
}
h1{
  background: yellow;
  border-radius: 50px/50px;
  margin: 30px;
  padding: 40px;

}
h2{
  box-shadow: inset 5px 5px 10px black;
}
#pp{
  width: 50%;
  height: 1em;
  overflow: hidden;
}
h3{
  width: 300px;
  padding: 20px;
  border-width: 4px;
  margin: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}
