body{
  background: rgb(255, 255, 255);
  padding: 20px 20px 0 20px;
  margin: 0;
}
article{
  max-width: 1200px;
  margin: 0 auto;
}
p{
  color: rgb(78, 11, 45);
  font-size: 120%;
  font-family: "Kurale", Arial, Helvetica, sans-serif;
}
h1, h2, h3{
  color: rgb(78, 11, 45);
  font-family: Arial, "Palatino Linotype", serif;
  border-bottom: 2px solid rgb(22, 50, 52);
  padding-left: 20px;
  margin-top: 12px;
}
h1{
  font-size: 200%;
}
div{
  font-family: Arial, "Palatino Linotype", sans-serif;
  font-size: 2.2em;
  color: rgb(30, 1, 37);
  font-style: normal;
  text-align: right;
  margin-bottom: 10px;
  background: rgb(253, 217, 255);
  border-radius: 0 0 10px 10px;
  padding: 12px;
}
.italic{
  font-style: italic;
  background: rgb(254, 237, 255);
}
.note{
  max-width: 600px;
  color: black;
  background: rgb(254, 237, 255);
  border-top: 2px solid #280000;
  border: 2px solid #280000;
  margin-top: 15px;
  padding: 20px;
}
