body{
  padding: 20px;
}
p.test{
  padding: 10px;
  border: 1px solid black;
}

#pp{
  border: 1px solid blue;
}

#p{
  border: 1px solid black;
  padding: 30px;
  margin: 10px;

}
 #pp strong{
   margin: 30px;
   border: 1px solid black;
   display: inline-block;
 }
li{
  display: inline;
  border-radius: 20px;
  border-left:1px solid  black;
}
