:root{
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

.container{
  display: grid;
  margin: 0 auto;
  grid-template-areas: "header header"
                       "nav nav"
                       "article aside1"
                       "article aside2"
                       "footer footer";
}

header, nav, article, .aside1, .aside2, footer{
  padding: 2em;
}

header{
  grid-area: header;
  background: rgb(247, 239, 216);
}

nav{
  grid-area: nav;
  background: rgb(218, 252, 221);
}

article{
  grid-area: article;
  background: rgb(224, 255, 255);
}

.aside1{
  grid-area: aside1;
  background: rgb(210, 232, 255);
}

.aside2{
  grid-area: aside2;
  background: rgb(213, 208, 255);
}

footer{
  grid-area: footer;
  background: rgb(255, 226, 247);
}
