body{
  padding: 20px;
  font-family: 'Antic Slab', serif;
}
h1{
  font-family: Arial, Verdana, Helvetica;
}
p{
  font-size: 120%;
  font-weight: 200;
  color: rgb(249, 213, 230);
  background: rgb(0, 0, 0);
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 4px;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
