a:hover{
  color: rgb(97, 255, 122);
  font-size: 20px;
}
a:active{
  color: rgb(255, 136, 129);
  font-size: 22px;
}
a:link{
  font-size: 23px;
  color: rgb(230, 173, 103);
}
p:first-letter{
  font-size: 30px;
  color: rgb(30, 52, 42);
}
input:focus{
  background: rgb(199, 145, 177);
}
.test:before{
  content: "Ура Ура Ура-а-а-а!";
}
.test:after{
  content: "Ура";
}
::selection{
 color: white;
}
