body{

}
header{
  padding: 1.2em 0;
  background: rgb(255, 252, 240);
}
button{
  padding: .7em 1.5em;
  border: 1px solid black;
  background: white;
  font-size: 1.1em;
  cursor: pointer;
}
nav{
  width: 75%;
  margin: 0 auto;
}
.modal{
  display: none;
}
.modalbody{
  position: fixed;
  top: 11em;
  right: 20%;
  left: 20%;
  padding: 3em;
  background: rgb(232, 234, 255);
}
.modalclose{
  position: absolute;
  top: 1em;
  right: 1em;
}
